         .contact,  .contact-box,.contact > div:first-of-type{
            display: grid;
            display: -ms-grid;
            display: -moz-grid;                       
         }
         .contact{
            border: 1px solid green;
            background-color: #2E2F34;
         }
         .contact  > div:first-of-type{
            text-align: center;
            padding: 3rem;
            -webkit-text-fill-color: white;
         }
         .contact-box {
            grid-template-columns:  repeat(3,max-content);
            justify-content: space-between;
            column-gap: 1rem;
            margin: auto;
            max-width: max-content;
            row-gap: 1rem;

         }
         .contact-box{
            grid-template-columns:auto auto auto;
            display: grid;
         }
         .contact a {
            text-decoration: none;
         }
         .contact-box a{
            text-decoration: none;
            color: rgb(110, 74, 7);
            align-self: center;
         }
         .contact > div:first-of-type h3,h4:hover{
            font-size: 1rem;
            align-self: center;
            cursor: pointer;
         }
         .contact > div:first-of-type p {
            align-self: center;
         }
         .contact-box > div:first-of-type a {
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
         }
         .contact-box > div:nth-of-type(2) a {
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
            justify-content: center;
         }
         .contact-box > div:nth-of-type(3){
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
         }
         .contact-box > div:nth-of-type(4){
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
         } 
         .contact-box > div:nth-of-type(5){
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
         } 
         .contact-box > div:nth-of-type(6){
            border: 1px solid blue;
            text-align: center;
            width: 220px;
            height: 50px;
         }